header{
    position:sticky;
    top:0;
    left:0;
    margin:0;
    border:1px solid #000000;
    background-color:#ffffff;
}
textarea{
    width:-webkit-fill-available;
    resize:vertical;
}
h1{
    margin:0;
}
b,code{
    -webkit-user-select:text;
    user-select:text;
}
ul{
    list-style-type:square;
}